
{% extends 'base.html.twig' %}

{% block title %}Supprimer l'article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="custom.css">
{% endblock %}

{% block main_content %}
            <div class="container-fluid px-4">
                <h1 class="mt-4">Static Navigation</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Static Navigation</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="mb-0">
                            {{ message }}
                        </p>
                    </div>
                </div>
                <div style="height: 100vh"></div>
                <div class="card mb-4">
                    <div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end
                        of the static navigation demo.</div>
                </div>
                
            </div>
{% endblock %}